@charset "UTF-8";

#boardwrite_content {
	height: 1000px;
	width: 100%;
	background-color: rgb(236, 228, 228);
	margin: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#bname {
	width: 400px;
}

#entry {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}

#btnss {
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.btns {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.btns:hover {
	background-color: black;
	color: white;
}

#link_div {
	display: none;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	position: absolute;
}

#font_size, #cp_div {
	display: none;
	position: absolute;
}

#sort {
	display: flex;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	cursor: pointer;
}

.minicolors-swatch {
	display: none;
}

#insert_img {
	display: none;
}

#content {
	background-color: white;
	width: 1000px;
	height: 600px;
	border: 1px solid black;
	word-break: break-all;
	overflow-y: scroll;
}

#thumb_file {
	display: none;
}

#thumbnail {
	width: 500px;
	height: 500px;
	background-color: white;
	border: 1px solid black;
}