@charset "UTF-8";
body{
	margin: 0px;
}

#product_content{
    /* height: 700px; */
    width: 100%;
    background-color: rgb(236, 228, 228);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#product_div{
	margin: 50px;
}

#dataTableBody{
	width: 1000px;
	height: 500px;
	border: 1px solid black;
}

#dataTableBody td{
	border: 1px solid black;
}

#pagingul {
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
    list-style-type: none;
    padding: 0px;
}

#pagingul li {
    text-align: center;
    float: left;
}

#pagingul li a {
    display: block;
    font-size: 14px;
    padding: 9px 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
}

#pagingul li.on {
    background: #eda712;
}

#pagingul li.on a {
    color: #fff;
}

.p_imgs {
	width: 250px;
	height: 200px;
	box-shadow: 2px 2px 2px 2px #cbcbcb;
}

.sold_out {
	width: 250px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	font-size: 40px;
}

#table_div {
	display: flex;
	width: 1000px;
	flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.product_table {
	margin-left: 38px;
	margin-right: 38px;
	text-align: center;
}



#search_form{
	display: flex;
    justify-content: center;
}

#paging {
	display: flex;
    justify-content: center;
}

#paging a {
	padding: 13px;
	border: 1px solid black;
}

#add_product {
	cursor: pointer;
}