@charset "UTF-8";

#member_content{
    width: 100%;
    background-color: rgb(236, 228, 228);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#member_table {
	margin-top: 50px;
	margin-bottom: 50px;
	border-collapse: collapse;
}

#member_table td{
	border: 1px solid black;
	text-align: center;
	padding: 20px;
}

.delete_btn {
	cursor: pointer;
}