@charset "UTF-8";
body{
    margin: 0px;
}

#btns{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}

/* #signup_entry{
    width: 100%;
    position: relative;
} */

#header{
    height: 200px;
    width: 100%;
    background-color: gray;
    position: relative;
    top: 0px;
    margin: auto;
}

#footer{
    height: 200px;
    width: 100%;
    background-color: gray;
    position: relative;
    bottom: 0px;
    margin: auto;
}

#signup_content{
    height: 700px;
    width: 100%;
    background-color: rgb(236, 228, 228);
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup_content{
	height: 600px;
	display: flex;
	justify-content:space-around;
	align-items: center;
}

#sign_div {
	position: absolute;
	padding: 50px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sign_table tr, #sign_table td {
	border: 1px solid black;
}

#sign_img {
	cursor:pointer;
	width: 30px;
}

#sign_element, #modify_span, #modify_input{
	position: absolute;
	width: 100px;
	display: none;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.sign_element, .modify_span, .modify_input{
	margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

.sign_element:hover, .modify_span:hover, .modify_input:hover{
	background-color: #52afe8;
}

.modify_input {
	width: 100px;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.reg {
	position:relative;
	display:none;
	margin: 0;
	width: 100px;
	height: 30px;
	left:100px;
	border: 1px solid black;
	background-color:#ebebeb;
}

#reg:hover .reg{
	display:flex;
}

.reg:hover {
	background-color: #52afe8;
}