@charset "UTF-8";

#board_content{
    height: 700px;
    width: 100%;
    background-color: rgb(236, 228, 228);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#board_table {
	margin-top: 50px;
	margin-bottom: 50px;
	border-collapse: collapse;
}

#board_table td{
	border: 1px solid black;
	text-align: center;
	padding: 20px;
}

#board_write{
	cursor: pointer;
	position: absolute;
	top: 20px;
    right: 50px;
}