@charset "UTF-8";
body{
	margin: 0px;
}

#board_content{
    height: 700px;
    width: 100%;
    background-color: rgb(236, 228, 228);
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}