@charset "UTF-8";

#modifyproduct_content{
    height: 1000px;
    width: 100%;
    background-color: rgb(236, 228, 228);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 600px;
}

#pname, #price, #quantity {
	width: 500px;
	text-align: center;
}

#content {
	background-color: white;
	width: 1000px;
	height: 600px;
	border: 1px solid black;
	word-break: break-all;
	overflow-y: scroll;
}

#thumb_file{
	display: none;
}

#thumbnail{
	width: 500px;
	height: 500px;
	background-color: white;
	border: 1px solid black;
}

#insert_img{
	display:none;
}

#thumb_btn{
	width: 100px;
	height: 30px;
	background-color: white;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}