<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ewb.mapper.EWBMapper">
	<select id="ewbLogin" resultType="org.ewb.model.MemberVO">
		SELECT * FROM ewb_member WHERE
		id=#{id} and pw=#{pw}
	</select>

	<insert id="ewbSignUp">
		INSERT INTO ewb_member(id,pw,name)
		VALUES(#{id},#{pw},#{name})
	</insert>

	<insert id="saveContent">
		INSERT INTO
		${type}
		<choose>
			<when test="type == 'home_page'">
				(id,url,content,opt)
			</when>
			<otherwise>
				(url,content)
			</otherwise>
		</choose>
		VALUES
		<choose>
			<when test="type == 'home_page'">
				(#{id},#{url},#{content},#{opt})
			</when>
			<otherwise>
				(#{url},#{content})
			</otherwise>
		</choose>
	</insert>

	<update id="modifyContent">
		UPDATE ${type}
		SET content = #{content}
		WHERE url =
		#{url}
	</update>

	<delete id="deleteContent">
		DELETE FROM ${type} WHERE url = #{url}
	</delete>

	<select id="loadContent" resultType="org.ewb.model.ContentVO">
		SELECT * FROM ${type} WHERE
		url = #{url}
	</select>

	<select id="getPage" resultType="org.ewb.model.ContentVO">
		SELECT * FROM home_page WHERE
		id=#{id} ORDER BY create_date desc
	</select>

	<insert id="createTable" parameterType="java.lang.String">
		${value}
	</insert>

	<insert id="createFirstAccount">
		INSERT INTO member_${id}
		(id,pw,admin)
		VALUES
		(#{id},#{pw},true)
	</insert>

	<update id="dropTable" parameterType="java.lang.String">
		drop table IF EXISTS
		${value}
	</update>

	<resultMap type="org.ewb.model.ThumbnailVO" id="ThumbnailVO">
		<result column="fullpath" property="fullpath" />
	</resultMap>
	<resultMap type="org.ewb.model.ProductVO" id="ProductVO">
		<result column="pno" property="pno" />
		<result column="pname" property="pname" />
		<result column="price" property="price" />
		<result column="content" property="content" />
		<result column="quantity" property="quantity" />
		<result column="s_quantity" property="s_quantity" />
		<result column="reg_date" property="reg_date" />
		<result column="type" property="type" />
		<collection property="tvo" resultMap="ThumbnailVO" />
	</resultMap>

	<resultMap type="org.ewb.model.CartVO" id="CartVO">
		<result column="pno" property="pno" />
		<result column="b_quantity" property="b_quantity" />
		<collection property="pvo" resultMap="ProductVO" />
	</resultMap>
	<select id="loadCart" resultMap="CartVO">
		select *
		from
		cart_${url} c
		join
		(
		select p.*, fullpath
		from
		product_${url} p
		left join
		product_img_${url} i
		on
		p.pno = i.pno
		) joined
		on
		c.pno =
		joined.pno
		where
		id=#{id}
		<if test="doOrder == true">
			and
			doOrder = #{doOrder}
		</if>
	</select>

	<resultMap type="org.ewb.model.OrderVO" id="OrderVO">
		<result column="pno" property="pno" />
		<result column="b_quantity" property="b_quantity" />
		<collection property="pvo" resultMap="ProductVO" />
	</resultMap>
	<resultMap type="org.ewb.model.PaymentVO" id="PaymentVO">
		<result column="id" property="id" />
		<result column="payno" property="payno" />
		<result column="price" property="price" />
		<result column="name" property="name" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="memo" property="memo" />
		<collection property="ovo" resultMap="OrderVO" />
	</resultMap>
</mapper>